<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper">
	<insert id="insertSubject">
		insert into BOARD (area1, area2, area3)
		values
		(#{area1} , #{area2} , #{area3})
	</insert>
	<update id="updateSubject">
		update subject
		set area2=#{area2}, area3=#{area3},
		area1=#{area1}
		where id=#{id}
	</update>
	<delete id="deleteSubject">
		delete from subject where id=#{id}
	</delete>
	<select id="getSubject" resultType="subject">
		select * from subject where
		id=#{id}
	</select>
	<select id="getSubjectList" resultType="subject">
		select * from subject order
		by id 
	</select>
	
	<select id="getSubjectList2" resultType="subject">
		select * from subject where area1=#{area1} order by id 
	</select>
</mapper>