<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="subject"
			type="com.mycompany.my.board.SubjectVO" />
		<typeAlias alias="subjectuser"
			type="com.mycompany.my.subjectuser.SubjectUserVO" />
		<typeAlias alias="user"
			type="com.mycompany.my.user.UserVO" />
	</typeAliases>
</configuration>